.beasts {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.card {
  color: #212a3e;
}
img {
  height: 18rem;
}

footer {
  text-align: center;
}
div.card {
  background-color: #f1f6f9;
}
body {
  background-color: #eeeeee;
}
div.beasts {
  row-gap: 2px;
  column-gap: 0.7px;
}
h1 {
  font-family: 'Ysabeau', sans-serif;
}
